<template name="Navbar">
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Eatin</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li id="newListMenu"><a href="/newList">Add a new List</a></li>
          <li id="listMenu"><a href="/lists">My Lists</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{getUser}}
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/settings">Settings</a></li>
              <li class="divider"></li>
              <li><a href="#" class="logout">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div></template>
