html,body
  width 100%
  height 100%
  margin 0 0 0 0

.navbar
  -webkit-box-shadow 0 8px 6px -6px #999
  -moz-box-shadow 0 8px 6px -6px #999
  box-shadow 0 8px 6px -6px #999
  margin 0 0 0 0

.navbar.navbar-default
  background-color #7CB342
  color #37474F

.home
  width 100%
  height 100%
  min-height 100%
  position absolute
  margin 0 0 0 0
  padding 0 0 0 0
  background url(background3.jpg)
  background-position center
  text-align center
  align-items center

.main
    width 100%
    height 100%
    min-height 100%
    position absolute
    margin 0 0 0 0
    padding 20px 20px 20px 20px
    background #FAFAFA

.homeContent
  background rgba(0, 0, 0, 0.5)

.homeContent h1
.homeContent p
.homeContent h2
.homeContent label
  color #E0E0E0

#login-form input
#signup-form input
  color #E0E0E0
  text-align center

#login-form .submit
#signup-form .submit
  background-color #009688

#login-form .wrong-login
#signup-form .wrong-login
#shareUserForm .wrong-login
  color #D32F2F

.lists-jumbotron
  text-align center

.listItem
.restaurantItem
  margin 0 0 20px 0

.card-list-item
  text-align center

.action-items
  position relative
  right 0
  top 0

#shareUserEmail
  text-align center

#updateListId
  text-align center
