<template name="ListDetail">
  <section class=listDetail>
  {{#if Template.subscriptionsReady}}
  <div class="page-header">
    <h1>{{list.name}} <small>by {{getAuthor.profile.name}}</small></h1>
  </div>
  <h3>{{list.desc}} </h3>

  <button id="addRestaurant" class="btn btn-primary">Add restaurant</button>

  <div>
      {{#each list.restaurants}}
        {{> RestaurantItem}}
      {{else}}
      <div class="jumbotron lists-jumbotron">
        <p>It's time to add restaurants to your list</p>
      </div>
      {{/each}}
  </div>
  {{/if}}
</section>
</template>
