<template name="Lists">
      <section class="lists">
      {{#if Template.subscriptionsReady}}
        {{#if lists.count}}
          {{#each lists}}
            {{>ListItem}}
            {{/each}}
        {{else}}
        <div class="jumbotron lists-jumbotron">
          <p>Hey, you don't have any list yet! Start by adding a new one</p>
        </div>
        {{/if}}
      {{/if}}
    </section>
</template>
