<template name="ListItem">
    <article class="listItem">
    <div class="card card-list-item">
      {{#if getEditMode}}
        <i id="closeUpdate" class="glyphicon glyphicon-remove"></i>
        {{> quickForm collection="Lists" id="updateListId" fields="name,desc" type="update" doc=this autoSave="true"}}
      {{else}}
  <div class="card-block">
    <h4 class="card-title">{{name}}</h4>
    <h6 class="card-subtitle text-muted">Created by {{getAuthor.profile.name}}</h6>
  </div>
  <div class="card-block">
    <p class="card-text">{{desc}}</p>
    {{#if equals author getCurrentUserId}}
    <div class="action-items">
      <i data-toggle="modal" data-target="#modalDelete_{{_id}}" class="glyphicon glyphicon-remove"></i>
      <i id="updateListItem" class="glyphicon glyphicon-pencil"></i>
      <i id="shareListItem" class="glyphicon glyphicon-share"></i>
    </div>
    {{else}}
    <div class="action-items">
      <i data-toggle="modal" data-target="#modalUnsubscribe_{{_id}}" class="glyphicon glyphicon-remove"></i>
    </div>
    {{/if}}
    {{#if getShareMode}}
    <form id="shareUserForm">
      {{#if isError}}
          <div class="alert alert-danger fade in">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
              {{getError}}
          </div>
      {{/if}}
      {{#if isSuccess}}
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
          {{getSuccess}}
      </div>
      {{/if}}
            <label for="list-item-share">Share to : </label>
      <input type="text" id="shareUserEmail" required class="form-control" placeholder="add email" />
      <input type="submit" class="btn btn-primary submit" value="Add User">
    </form>
    {{/if}}
    <a href="/list/{{_id}}" class="card-link">View Details</a>
  </div>
    {{/if}}
    </div>
    </article>

    <!-- Modal -->
<div class="modal fade" id="modalDelete_{{_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirm delete</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this list ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="removeListItem" value="{{_id}}"  type="button" data-dismiss="modal" data-backdrop="false" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalUnsubscribe_{{_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirm unsubscribe</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to unsubscribe from this list ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="unsubscribeListItem" value="{{_id}}" type="button" data-dismiss="modal" data-backdrop="false"  class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
</template>
