<template name="NewRestaurant">
  <div class="new-restaurant-container">
    {{> quickForm collection="Lists" id="insertRestaurantForm" type="update-pushArray" doc=restaurantDoc scope="restaurants" class="new-restaurant-form"}}
  </div>
</template>
