<template name="RestaurantItem">
    <article class="restaurantItem">
    <div class="card card-list-item">
      {{#if getEditMode}}
        <i id="closeUpdate" class="glyphicon glyphicon-remove"></i>
        {{> quickForm collection="Lists" id="updateRestaurantId" type="update" doc=this autoSave="true"}}
      {{else}}
  <div class="card-block">
    <h4 class="card-title">{{restoName}}</h4>
    <h6 class="card-subtitle text-muted">{{restoAddress}}</h6>
    <h6 class="card-subtitle text-muted">{{restoType}}</h6>

  </div>
  <div class="card-block">
    <p class="card-text">{{restoDesc}}</p>
  </div>
    {{#each restaurants}}
    <span class="restaurant"> {{name}} </span>
    {{/each}}
    {{/if}}
    </div>

    </article>
</template>
