<template name="LoginForm">
  <form id="login-form">
    <h2>Log In</h2>
    {{#if error}}
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            Oups ! Wrong login, please try again
        </div>
    {{/if}}
    <label for="login-email">Email</label>
    <input type="text" id="loginEmail" required class="form-control" placeholder="" />

    <label for="login-password">Password</label>
    <input type="password" id="loginPassword" required class="form-control" placeholder="" />

    <input type="submit" class="btn btn-primary submit" value="Sign in">
    </form>
</template>
