<template name="Login">
  {{#if loginMode}}
    {{> LoginForm}}
    <p>
      Don't have an account? <a href="#" id="at-signUp" class="at-link at-signup">Register</a>
    </p>
  {{else}}
    {{> SignUpForm}}
    <p>
      If you already have an account <a href="#" id="at-signIn" class="at-link at-signin">sign in</a>
    </p>
  {{/if}}
</template>
