<template name="SignUpForm">
  <form id="signup-form">
    <h2>Sign Up</h2>
    {{#if error}}
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {{error}}
        </div>
    {{/if}}
     <label for="signup-email">Email</label>
    <input type="text" id="signupEmail" required class="form-control" placeholder="" />

    <label for="signup-password">Password</label>
    <input type="password" id="signupPassword" required class="form-control" placeholder="" />

    <label for="signup-name">Name</label>
    <input type="text" id="signupName" required class="form-control" placeholder="" />

    <input type="submit" class="btn btn-primary submit" value="Register">
  </form>
</template>
