<template name="HomeLayout">
    <div class="jumbotron home">

      <div class="homeContent">
        <h1>Share your best food places !</h1>
        <p>Make a list, share with your friends and never forget any good spot.</p>
        {{> Login}}
      </div>
</div>
</template>
