<template name="Settings">
  <form id="updateProfileUserForm">
    <label for="list-item-share">Name </label>
    <input type="text" id="userName" required class="form-control" value={{getProfile.profile.name}}>
    <label for="list-item-share">Email </label>
    <input type="text" id="emailUser" required class="form-control" value={{getProfile.emails.[0].address}}>
    <input type="submit" class="btn btn-primary submit" value="Update profile">
  </form>
</template>
